<a href="https://colab.research.google.com/github/royal-dit/tensorflow-deeplearning/blob/main/bigmart_sales_analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
df_train = pd.read_csv("Train.csv")

In [ ]:
df_train.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.30,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,DRC01,5.92,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
2,FDN15,17.50,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
3,FDX07,19.20,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,NaN,Tier 3,Grocery Store,732.3800
4,NCD19,8.93,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052

In [ ]:
df_train.isnull().sum()    # checking the missing or null value in datatset value in dataset

Item_Identifier                 0
Item_Weight                  1463
Item_Fat_Content                0
Item_Visibility                 0
Item_Type                       0
Item_MRP                        0
Outlet_Identifier               0
Outlet_Establishment_Year       0
Outlet_Size                  2410
Outlet_Location_Type            0
Outlet_Type                     0
Item_Outlet_Sales               0
dtype: int64

In [ ]:
df_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8523 entries, 0 to 8522
Data columns (total 12 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Item_Identifier            8523 non-null   object
 1   Item_Weight                7060 non-null   float64
 2   Item_Fat_Content           8523 non-null   object
 3   Item_Visibility            8523 non-null   float64
 4   Item_Type                  8523 non-null   object
 5   Item_MRP                   8523 non-null   float64
 6   Outlet_Identifier          8523 non-null   object
 7   Outlet_Establishment_Year  8523 non-null   int64
 8   Outlet_Size                6113 non-null   object
 9   Outlet_Location_Type       8523 non-null   object
 10  Outlet_Type                8523 non-null   object
 11  Item_Outlet_Sales          8523 non-null   float64
dtypes: float64(4), int64(1), object(7)
memory usage: 799.2+ KB

**for item_weight**

In [ ]:
df_train['Item_Weight'].describe()

count    7060.000000
mean       12.857645
std         4.643456
min         4.555000
25%         8.773750
50%        12.600000
75%        16.850000
max        21.350000
Name: Item_Weight, dtype: float64

In [ ]:
#fills the null value using mean 
df_train['Item_Weight'].fillna(df_train['Item_Weight'].mean(),inplace=True)

In [ ]:
df_train.isnull().sum()

Item_Identifier                 0
Item_Weight                     0
Item_Fat_Content                0
Item_Visibility                 0
Item_Type                       0
Item_MRP                        0
Outlet_Identifier               0
Outlet_Establishment_Year       0
Outlet_Size                  2410
Outlet_Location_Type            0
Outlet_Type                     0
Item_Outlet_Sales               0
dtype: int64

**for outlet size**

In [ ]:
df_train['Outlet_Size'].value_counts() ,df_train['Outlet_Size'].mode()

(Medium    2793
 Small     2388
 High       932
 Name: Outlet_Size, dtype: int64, 0    Medium
 dtype: object)

In [ ]:
df_train['Outlet_Size'].fillna(df_train['Outlet_Size'].mode()[0],inplace=True)

In [ ]:
df_train.isnull().sum()

Item_Identifier              0
Item_Weight                  0
Item_Fat_Content             0
Item_Visibility              0
Item_Type                    0
Item_MRP                     0
Outlet_Identifier            0
Outlet_Establishment_Year    0
Outlet_Size                  0
Outlet_Location_Type         0
Outlet_Type                  0
Item_Outlet_Sales            0
dtype: int64

In [ ]:
#selecting features based on general requirements
df_train.drop(['Item_Identifier','Outlet_Identifier'],axis=1,inplace=True)

#exclude data analysis  with dtale library

In [ ]:
# !pip install dtale

In [ ]:
import dtale

In [ ]:
dtale.show(df_train)

http://82591327e17e:40000/dtale/main/1

#exclude data analysis using pandas profling

In [ ]:
# !pip install pandas-profiling

In [ ]:
import pandas_profiling
from pandas_profiling import ProfileReport

#excule data analsyis using seaborn

In [ ]:

sns.heatmap(df_train.corr(),annot=True) #annot will put the values inside the box
plt.show

2022-10-12 08:49:03,290 - WARNING  - findfont: Font family ['Heiti TC'] not found. Falling back to DejaVu Sans.

#exclude data analysis with klib libary

In [ ]:
# !pip install klib

In [ ]:
import klib

In [ ]:
klib.cat_plot(df_train) #returns a visulaization of the number and frequency of categorical features

2022-10-12 08:49:09,527 - WARNING  - findfont: Font family ['Heiti TC'] not found. Falling back to DejaVu Sans.

GridSpec(6, 5)

2022-10-12 08:49:10,475 - WARNING  - findfont: Font family ['Heiti TC'] not found. Falling back to DejaVu Sans.
2022-10-12 08:49:10,532 - WARNING  - findfont: Font family ['Heiti TC'] not found. Falling back to DejaVu Sans.

In [ ]:
klib.corr_mat(df_train)

In [ ]:
klib.dist_plot(df_train)

**Data cleaning**

In [ ]:
#use klib libarary for cleaning data

#preprocesssing the task

In [ ]:
from sklearn.preprocessing import LabelEncoder
le =LabelEncoder()

**labelEncoder**

In [ ]:
df_train = df_train.apply(le.fit_transform)
df_train

,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,284,1,664,4,5592,4,1,0,1,2540
1,57,2,880,14,473,8,1,2,2,422
2,376,1,715,10,2901,4,1,0,1,1639
3,393,2,0,6,4227,3,1,2,0,670
4,265,1,0,9,627,1,0,2,1,865
...,...,...,...,...,...,...,...,...,...,...
8518,125,1,3912,13,4955,1,0,2,1,2047
8519,233,2,3278,0,2023,5,1,1,1,516
8520,299,1,2302,8,1263,6,2,1,1,1018
8521,149,2,7175,13,1857,8,1,2,2,1466
8522,347,1,3108,14,1011,2,2,0,1,697

**one hot encoder**

In [ ]:
from sklearn.preprocessing import OneHotEncoder

In [ ]:
# df_train = pd.get_dummies(df_train,columns=['Item_Fat_Content','Outlet_Size','Outlet_Location_Type','Outlet_Type'])

#bringing all values between 0 and 1

In [ ]:
for i in df_train.columns[0:]:
    df_train[i]=(df_train[i]-df_train[i].min())/(df_train[i].max()-df_train[i].min())

In [ ]:
df_train.head()

,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,0.684337,0.25,0.084275,0.266667,0.941890,0.500,0.5,0.0,0.333333,0.727377
1,0.137349,0.50,0.111689,0.933333,0.079670,1.000,0.5,1.0,0.666667,0.120848
2,0.906024,0.25,0.090748,0.666667,0.488631,0.500,0.5,0.0,0.333333,0.469359
3,0.946988,0.50,0.000000,0.400000,0.711976,0.375,0.5,1.0,0.000000,0.191867
4,0.638554,0.25,0.000000,0.600000,0.105609,0.125,0.0,1.0,0.333333,0.247709

**splitting our data into train and test**

In [ ]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import OneHotEncoder

In [ ]:
X = df_train.drop('Item_Outlet_Sales',axis=1)
Y = df_train['Item_Outlet_Sales']

In [ ]:
X_train,X_test,y_train,y_test = train_test_split(X,Y,random_state=101,test_size =0.2)
(X_train.shape,y_train.shape),(X_test.shape,y_test.shape)

(((6818, 9), (6818,)), ((1705, 9), (1705,)))

**normalizing data**

In [ ]:
# from sklearn.preprocessing import StandardScaler
# import tensorflow as tf
# sc = StandardScaler()

In [ ]:
# X_train=tf.reshape(X_train,[6818,20])
# X_test=tf.reshape(X_test,[1,-1])
X_test.shape

(1705, 9)

In [ ]:
# X_train_std=sc.fit_transform(X_train)
# X_train_std

In [ ]:
# X_test_std = sc.transform(X_test)

In [ ]:
# X_test_std

#one hot encoding y data

In [ ]:

# # y_train=tf.expand_dims(y_train,axis=1)
# # y_train.shape
# y_train=tf.reshape(y_train,[1,-])
# y_train.shape
y_train.shape

(6818,)

In [ ]:
y_test.shape

(1705,)

#model buidling linear regression and random forest

In [ ]:
from sklearn.linear_model import LinearRegression
lr=LinearRegression()

In [ ]:
lr.fit(X_train_std,y_train)

LinearRegression()

In [ ]:
y_pred_lr = lr.predict(X_test_std)

In [ ]:
from sklearn.metrics import r2_score,mean_absolute_error,mean_squared_error,accuracy_score

In [ ]:
r2_score(y_test,y_pred_lr)

0.5451912823518805

In [ ]:
print(r2_score(y_test,y_pred_lr))
print(mean_absolute_error(y_test,y_pred_lr))
print(np.sqrt(mean_squared_error(y_test,y_pred_lr)))
# print(accuracy_score(y_test,y_pred_lr))

0.5451912823518805
489.24876283012213
613.7054601408787

**random Forest**

In [ ]:
from sklearn.ensemble import RandomForestRegressor
rf = RandomForestRegressor()

In [ ]:
rf.fit(X_train,y_train)

RandomForestRegressor()

In [ ]:
y_pred_rf = rf.predict(X_test)

In [ ]:
r2_score(y_test,y_pred_rf)

0.6105975519352809

#hyperparameter tuning

#saving the model

In [ ]:
import joblib

In [ ]:
joblib.dump(lr,'linear_reg.sav')

['linear_reg.sav']

#using neural network

In [ ]:
import keras
import tensorflow
from keras.models import Sequential # importing the sequential model
# importing different layers from keras
from keras.layers import InputLayer ,Dense

model=Sequential()
model.add(InputLayer(input_shape=(9,)))
model.add(Dense(5,activation='relu'))
model.add(Dense(2,activation='relu'))
model.add(Dense(1,activation='linear'))
model.compile(loss='mse',
              optimizer=tf.keras.optimizers.Adam(),
              metrics=['accuracy']
              )
model_history = model.fit(X_train,y_train,validation_data=(X_test,y_test),epochs=100,verbose=0)

In [ ]:
result = model.predict(X_test)

In [ ]:
r2_score(y_test,result)
mean_absolute_error(y_test,result)

-1201087.202953907

In [ ]:
results = model.evaluate(X_test,y_test)

54/54 [==============================] - 0s 3ms/step - loss: 0.0243 - mse: 0.0243 - mae: 0.1219